[user]
  email = max@happyhackers.xyz
  name = Max Milton
  # https://dev.to/benjaminblack/signing-git-commits-with-modern-encryption-1koh
  signingkey = 8149206E0CC93908 # max@happyhackers.xyz sign only
[alias]
  # Remove branches that have already been merged with master
  dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  # Remove tags which were deleted in origin
  dt = "!t() { git fetch --prune origin '+refs/tags/*:refs/tags/*'; }"
  # Remove the old tag with this name and tag the latest commit with it.
  retag = "!r() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1; }; r"
  # See commit state on all branches
  io = "!git fetch --all; git branch -vv"
  # See unpulled commits
  in = "!git fetch; git log --stat ..'@{u}'"
  # See unpushed commits
  out = "log --stat '@{u}'.."
[apply]
  whitespace = fix # Detect whitespace errors when applying a patch
[branch]
  sort = committerdate
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space # Treat unwanted whitespace as an error
  untrackedCache = true # Faster `git status`
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold # line info
  old = red # deletions
  new = green # additions
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[commit]
  gpgsign = true
[credential]
  helper = /usr/lib/git-core/git-credential-libsecret
[diff]
  tool = difftastic
  renames = copies # Detect copies as well as renames
  algorithm = histogram
[diff "bin"]
  textconv = hexdump -v -C # Use `hexdump` to diff binary files
[diff "lockb"]
  textconv = bun
  binary = true
[difftool]
  prompt = false
[difftool "difftastic"]
   # See `man git-difftool` for a description of MERGED, LOCAL and REMOTE.
  cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
[gpg]
  program = gpg2
[merge]
  tool = code
  log = true # Include commits summary in merge commit messages
[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[pager]
  difftool = true
[pull]
  rebase = true
[push]
  default = simple
  followTags = true # Also push relevant annotated tags
[rerere]
  enabled = true
[tag]
  gpgsign = true
[maintenance]
	repo = /home/max/Projects/_packages/stage1
	repo = /home/max/Projects/cherrymint
	repo = /home/max/Projects/dotfiles
	repo = /home/max/Projects/new-tab
	repo = /home/max/Projects/trackx
