[user]
	email = max@2okki.com
	name = Max Milton
	# https://dev.to/benjaminblack/signing-git-commits-with-modern-encryption-1koh
	# nosemgrep: generic-api-key
	signingkey = C174762F23AF46AF # max@2okki.com [S]
[alias]
	b = "branch --sort=refname --format='%(if)%(HEAD)%(then)%(color:yellow)* %(else)  %(end)%(refname:short)%(if)%(upstream)%(then) %(color:blue)[%(upstream:short)] %(upstream:track)%(end)%(color:reset)'"
	c = "commit -v"
	ca = "commit -v --all"
	co = "checkout"
	d = "diff"
	dd = "diff --staged"
	l = "log --graph --pretty=format:'%C(yellow)%h%Creset%C(blue)%d%Creset %C(white bold)%s%Creset %C(white dim)(by %an %ar)%Creset'"
	m = "merge --autostash"
	p = "pull --autostash"
	s = "status --short --branch --show-stash"
	x = "blame -wCCC --color-by-age --minimal"

	# Remove tags which were deleted in origin
	dt = "fetch --prune origin '+refs/tags/*:refs/tags/*'"
	# Remove the old tag with this name and tag the latest commit with it
	retag = "!r() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1; }; r"
	# See commit state on all branches
	io = "!git fetch --all; git branch -vv"
	# See unpulled commits
	in = "!git fetch; git log --stat ..'@{u}'"
	# See unpushed commits
	out = "log --stat '@{u}'.."
[apply]
	whitespace = fix # detect whitespace errors when applying a patch
[branch]
	sort = -committerdate
[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
	untrackedCache = true # faster `git status`
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space # treat unwanted whitespace as an error
[color]
	ui = auto
[color "diff"]
	frag = blue bold
	meta = yellow bold
[color "status"]
	changed = yellow
	untracked = dim
[commit]
	gpgsign = true
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[diff]
	algorithm = histogram
	renames = copies # detect copies as well as renames
	tool = difftastic
[diff "bin"]
	textconv = hexdump -v -C
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
[fetch]
	prune = true
[gpg]
	program = gpg2
[maintenance]
	auto = false # use `jj util gc`
	strategy = incremental
[merge]
	conflictStyle = "diff3"
	log = true # include commits summary in merge commit messages
[merge "mergiraf"]
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
	name = mergiraf
[pager]
	difftool = true
[pull]
	rebase = true
[push]
	default = simple
	followTags = true # also push relevant annotated tags
[rebase]
	updateRefs = true
[rerere]
	enabled = true
[tag]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = "https://github.com/"
