[user]
  email = max@happycode.ltd
  name = Max Milton
  {{- if eq .chezmoi.hostname "max-genki" "max-archd" }}
  signingkey = 04D9C9AB0399B439
  {{- end }}
  {{- if eq .chezmoi.hostname "max-clients" }}
  signingkey = D6A0226FCD5F7243
  {{- end }}
  {{- if eq .chezmoi.hostname "max-l" }}
  signingkey = 371CB4A079503C39
  {{- end }}
[alias]
  # Remove the old tag with this name and tag the latest commit with it.
  retag = "!r() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1; }; r"
  # Remove branches that have already been merged with master
  dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  # Remove tags which were deleted in origin
  dt = "!t() { git fetch --prune origin '+refs/tags/*:refs/tags/*'; }"
[apply]
  whitespace = fix # Detect whitespace errors when applying a patch
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space # Treat unwanted whitespace as an error
  untrackedCache = true # Faster `git status`
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold # line info
  old = red # deletions
  new = green # additions
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[commit]
  gpgsign = true
[diff]
  tool = vimdiff
  renames = copies # Detect copies as well as renames
[diff "bin"]
  textconv = hexdump -v -C # Use `hexdump` to diff binary files
[difftool]
  prompt = false
[gpg]
  program = gpg2
[merge]
  tool = vimdiff
  log = true # Include commits summary in merge commit messages
[pull]
  rebase = true
[push]
  default = simple
  followTags = true # Also push relevant annotated tags
[tag]
  gpgsign = true
