# When extending a built-in language, options like 'file-types' override the
# default value, so the existing values must be included too.
# https://github.com/helix-editor/helix/blob/master/languages.toml

[language-server]
biome = { command = "biome", args = ["lsp-proxy"] }

# Extend scss language to include *.xcss files
[[language]]
name = "scss"
file-types = ["scss", "xcss"]

[[language]]
name = "javascript"
language-servers = [ "biome", "typescript-language-server" ]
auto-format = true

[[language]]
name = "typescript"
language-servers = [ "biome", "typescript-language-server" ]
auto-format = true
