/* spellcheck-off */
{
  "telemetry.enableCrashReporter": false,
  "telemetry.enableTelemetry": false,
  {{- if eq .chezmoi.os "linux" }}
  "update.mode": "none", // Use package manager on Linux
  "window.titleBarStyle": "native",
  {{- end }}
  "window.restoreWindows": "preserve",
  "window.menuBarVisibility": "toggle",
  "workbench.startupEditor": "newUntitledFile",
  "workbench.colorTheme": "One Dark Pro",
  "workbench.editor.decorations.colors": true,
  "workbench.editor.decorations.badges": true,
  "workbench.editor.wrapTabs": true,
  "workbench.list.keyboardNavigation": "filter",
  "workbench.enableExperiments": false,
  {{- if eq .chezmoi.os "darwin" }}
  "workbench.fontAliasing": "auto", // macOS only
  {{- end }}
  "workbench.productIconTheme": "fluent-icons",
  "workbench.tips.enabled": false,
  "workbench.colorCustomizations": {
    "editorInlayHint.foreground": "#5C6370",
    "editorInlayHint.background": "#1f2227"
  },
  "explorer.confirmDragAndDrop": false,
  "explorer.confirmDelete": false,
  "editor.tokenColorCustomizations": {
    // Darker comments with `One Dark Pro` theme
    "comments": "#5C6370"
  },
  "editor.snippetSuggestions": "top",
  "editor.renderLineHighlight": "all",
  "editor.folding": false,
  "editor.accessibilitySupport": "off",
  "editor.fontSize": 16,
  // "editor.fontFamily": "Hack, 'Roboto Mono', monospace, 'Noto Color Emoji'",
  "editor.fontFamily": "'JetBrains Mono', monospace, 'Noto Color Emoji'",
  "editor.rulers": [80, 100],
  "editor.wordWrap": "on",
  "editor.tabSize": 2,
  "editor.renderWhitespace": "all",
  "editor.renderControlCharacters": true,
  "editor.suggestSelection": "first",
  "editor.suggest.preview": true,
  "editor.suggest.showStatusBar": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": false // Prefer project level config
  },
  "editor.wordBasedSuggestionsMode": "allDocuments",
  // "editor.bracketPairColorization.enabled": true,
  "diffEditor.ignoreTrimWhitespace": false,
  // "diffEditor.renderSideBySide": false,
  "debug.confirmOnExit": "always",
  "terminal.integrated.defaultProfile.linux": "bash",
  "vsintellicode.modify.editor.suggestSelection": "choseToUpdateConfiguration",
  "breadcrumbs.enabled": true,
  "files.insertFinalNewline": true,
  "files.trimTrailingWhitespace": true,
  "files.exclude": {
    "**/.*cache": true,
    "**/.DS_Store": true,
    "**/.git": true,
    "**/.tsbuildinfo": true,
    "**/*.db-shm": true,
    "**/*.db-wal": true,
    "**/*.db": true,
    "**/coverage": true,
    "**/node_modules": true,
    "**/Thumbs.db": true
  },
  "files.watcherExclude": {
    "**/__sapper__/**": true,
    "**/.*cache": true,
    "**/.git/objects/**": true,
    "**/.git/subtree-cache/**": true,
    "**/.tsbuildinfo": true,
    "**/.vscode": true,
    "**/*.bak": true,
    "**/*.db-shm": true,
    "**/*.db-wal": true,
    "**/*.db": true,
    "**/*.log": true,
    "**/*.map": true,
    "**/*.min.*": true,
    "**/build/**": true,
    "**/coverage/**": true,
    "**/dist/**": true,
    "**/export/**": true,
    "**/node_modules/**": true,
    "**/package-lock.json": true,
    "**/pnpm-lock.yaml": true,
    "**/public/**": true,
    "**/test/**": true,
    "**/tests/**": true,
    "**/tmp/**": true,
    "**/yarn.lock": true
  },
  "files.associations": {
    "*.fish": "shellscript",
    "*.svelte": "html",
    "*.tmpl": "go"
  },
  "extensions.ignoreRecommendations": true,
  "git.autofetch": true,
  "git.confirmSync": false,
  "git.detectSubmodules": false,
  "git.enableCommitSigning": true,
  "git.enableSmartCommit": true,
  "scm.alwaysShowRepositories": true,
  "npm.exclude": ["**/.git", "**/node_modules"],
  "npm.packageManager": "yarn",
  "js/ts.implicitProjectConfig.checkJs": true,
  "typescript.referencesCodeLens.enabled": true,
  "typescript.implementationsCodeLens.enabled": true,
  // "typescript.inlayHints.parameterNames.enabled": "all",
  "typescript.inlayHints.parameterNames.enabled": "literals",
  "typescript.inlayHints.variableTypes.enabled": true,
  "typescript.inlayHints.propertyDeclarationTypes.enabled": true,
  "typescript.inlayHints.parameterTypes.enabled": true,
  "typescript.inlayHints.functionLikeReturnTypes.enabled": true,
  // "javascript.inlayHints.parameterNames.enabled": "all",
  // "javascript.inlayHints.parameterNames.enabled": "literals",
  // "javascript.inlayHints.variableTypes.enabled": true,
  // "javascript.inlayHints.propertyDeclarationTypes.enabled": true,
  // "javascript.inlayHints.parameterTypes.enabled": true,
  // "javascript.inlayHints.functionLikeReturnTypes.enabled": true,
  "[markdown]": {
    "editor.lineNumbers": "interval",
    "editor.rulers": [],
    "editor.wordWrap": "bounded",
    "editor.wrappingIndent": "indent",
    "editor.quickSuggestions": false,
    "files.trimTrailingWhitespace": false
  },
  "task.autoDetect": "off",
  "vsintellicode.java.completionsEnabled": false,
  "vsintellicode.python.completionsEnabled": false,
  "eslint.packageManager": "yarn",
  "eslint.validate": [
    // "html",
    "javascript",
    "javascriptreact",
    // "markdown",
    "typescript",
    "typescriptreact"
  ],
  {{- if eq .chezmoi.hostname "max-clients" }}
  "shellcheck.disableVersionCheck": true,
  {{- end }}
  "shellcheck.enableQuickFix": true,
  "spellright.configurationScope": "user",
  "spellright.notificationClass": "information",
  "spellright.notificationClassByParser": {
    "code": "hint"
  },
  "spellright.language": ["en_AU"],
  "spellright.documentTypes": [
    "css",
    "html",
    "javascript",
    "javascriptreact",
    "json",
    "jsonc",
    "markdown",
    "plaintext",
    "properties",
    "scss",
    "sql",
    "typescript",
    "typescriptreact",
    "yaml"
  ],
  "spellright.parserByClass": {
    "properties": {
      "parser": "plain"
    }
  },
  "spellright.spellContext": "body code comments strings",
  "spellright.suggestionsInHints": false,
  "spellright.ignoreFiles": [
    "**/.*cache",
    "**/.gitignore",
    "**/.spellignore",
    "**/*.log",
    "**/package-lock.json",
    "**/tsconfig.json",
    "**/yarn.lock"
  ],
  "liveshare.presence": true,
  "gitlens.keymap": "none"
  // FIXME: Paths have changed
  // "gitlens.views.repositories.location": "scm",
  // "gitlens.views.fileHistory.location": "explorer",
  // "gitlens.views.lineHistory.location": "explorer",
  // "gitlens.views.compare.location": "scm",
  // "gitlens.views.search.location": "scm"
}
