/* spellcheck-off */
{
  "telemetry.enableCrashReporter": false,
  "telemetry.enableTelemetry": false,
  {{- if eq .chezmoi.os "linux" }}
  "update.mode": "none", // use package manager on Linux
  "window.titleBarStyle": "native",
  {{- end }}
  "window.restoreWindows": "all",
  "window.menuBarVisibility": "toggle",
  "window.zoomLevel": 0,
  "workbench.startupEditor": "newUntitledFile",
  "workbench.colorTheme": "One Dark Pro",
  "workbench.list.keyboardNavigation": "filter",
  "workbench.enableExperiments": false,
  {{- if eq .chezmoi.os "darwin" }}
  "workbench.fontAliasing": "auto", // macOS only
  {{- end }}
  "workbench.tips.enabled": false,
  "explorer.confirmDragAndDrop": false,
  "explorer.confirmDelete": false,
  "editor.tokenColorCustomizations": {
    "textMateRules": [
      // darker comments when using `One Dark Pro` theme
      {
        "scope": "comment, punctuation.definition.comment",
        "settings": {
          "foreground": "#5C6370"
        }
      }
    ]
  },
  "editor.smoothScrolling": true, // fix choppy scroll
  "editor.cursorSmoothCaretAnimation": true,
  "editor.snippetSuggestions": "top",
  "editor.renderLineHighlight": "all",
  "editor.folding": false,
  "editor.accessibilitySupport": "off",
  "editor.fontSize": 16,
  "editor.fontFamily": "Hack, 'Roboto Mono', monospace, 'Noto Color Emoji'",
  "editor.rulers": [80, 100],
  "editor.wordWrap": "on",
  "editor.tabSize": 2,
  "editor.renderWhitespace": "all",
  "editor.renderControlCharacters": true,
  "editor.suggestSelection": "first",
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
  "breadcrumbs.enabled": true,
  "files.insertFinalNewline": true,
  "files.trimTrailingWhitespace": true,
  "files.exclude": {
    "**/.*cache": true,
    "**/.git": true,
    "**/.tsbuildinfo": true,
    "**/node_modules": true,
    "**/package-lock.json": true,
    "**/tmp": true,
    "**/yarn.lock": true
  },
  "files.watcherExclude": {
    "**/__sapper__/**": true,
    "**/.git/objects/**": true,
    "**/.git/subtree-cache/**": true,
    "**/.stylelintcache": true,
    "**/.tsbuildinfo": true,
    "**/.vscode": true,
    "**/*.log": true,
    "**/*.map": true,
    "**/*.min.*": true,
    "**/build/**": true,
    "**/coverage/**": true,
    "**/dist/**": true,
    "**/export/**": true,
    "**/node_modules/**": true,
    "**/package-lock.json": true,
    "**/public/**": true,
    "**/tmp/**": true,
    "**/yarn.lock": true
  },
  "files.associations": {
    "*.tmpl": "go"
  },
  "git.confirmSync": false,
  "git.autofetch": true,
  "npm.exclude": ["**/.git", "**/node_modules"],
  "npm.packageManager": "yarn",
  "extensions.showRecommendationsOnlyOnDemand": true,
  "javascript.implicitProjectConfig.checkJs": true,
  "typescript.referencesCodeLens.enabled": true,
  "typescript.implementationsCodeLens.enabled": true,
  "[markdown]": {
    "editor.lineNumbers": "interval",
    "editor.rulers": [],
    "editor.wordWrap": "bounded",
    "editor.wrappingIndent": "indent",
    "editor.quickSuggestions": false,
    "files.trimTrailingWhitespace": false
  },
  "atomKeymap.promptV3Features": true,
  "eslint.packageManager": "yarn",
  "eslint.autoFixOnSave": false, // be careful in projects without eslint setup properly
  "eslint.validate": ["javascript", "javascriptreact", "html"],
  "todohighlight.keywords": [
    {
      "text": "XXX:", // for implementation details or notes
      "color": "#ecf2fa",
      "backgroundColor": "#3477ca"
    },
    "NOTE:",
    "README:",
    "REFERENCE:",
    "USAGE:"
  ],
  "todohighlight.defaultStyle": {
    "color": "unset",
    "backgroundColor": "unset",
    "overviewRulerColor": "grey"
  },
  "spellright.configurationScope": "user",
  "spellright.notificationClass": "information",
  "spellright.language": ["en_GB"],
  "spellright.documentTypes": [
    "css",
    "html",
    "javascript",
    "json",
    "jsonc",
    "markdown",
    "plaintext",
    "properties",
    "scss",
    "todo",
    "typescript",
    "typescriptreact"
  ],
  "spellright.spellContext": "body code comments strings",
  "spellright.suggestionsInHints": false,
  "spellright.ignoreFiles": [
    "**/.gitignore",
    "**/.spellignore",
    "**/*.log",
    "**/package-lock.json",
    "**/tsconfig.json",
    "**/yarn.lock"
  ],
  "gitlens.advanced.messages": {
    "suppressUpdateNotice": true,
    "suppressWelcomeNotice": true
  },
  "gitlens.keymap": "none",
  "gitlens.views.repositories.location": "scm",
  "gitlens.views.fileHistory.location": "explorer",
  "gitlens.views.lineHistory.location": "explorer",
  "gitlens.views.compare.location": "scm",
  "gitlens.views.search.location": "scm",
  "sourcegraph.url": "http://localhost:7080",
  "platformio-ide.activateOnlyOnPlatformIOProject": true
}
